/* header
------------------------------------*/

.logo {
    width: 120px;
    margin-top: 10px;
}
.main-nav {
    display: flex;
    font-size: 14.4px;
    margin-top: 22px;
}
.main-nav li{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
/* main
---------------------------------*/

.mainvisual img{
    width: 1280px;
    height: 600px;
}

section h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}