/* header
------------------------------------*/

.logo {
    width: 120px;
    margin-top: 10px;
}
.main-nav {
    display: flex;
    font-size: 14.4px;
    margin-top: 22px;
}
.main-nav li{
    margin-left: 30px;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}