/* header
------------------------------------*/

.logo {
    width: 120px;
    margin: 10px 0 10px 90px;
}
.main-nav {
    display: flex;
    font-size: 14.4px;
    margin-top: 22px;
    font-family: Arial;
    font-weight: 100;

}
.main-nav li{
    margin-left: 30px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
/* main
---------------------------------*/

.mainvisual img{
    width: 100%;
    height: 600px;
    display: block;
    margin: 0 auto;
}

section h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom:1px solid;
    width: 92px;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 80px;
}

.profile {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.profileimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right:30px;                                                  
}

.text h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.bicyctitle {
    font-size: 32px;
    font-family: Arial;
    border-bottom:1px solid;
    width: 112px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 60px;
}
.bicycle ul {
    display: flex;
    justify-content:center;
}
.bicycle img {
    width: 262.8px;
    height: 174px;
    margin-right: 16.2px;
    margin-bottom: 10px;
}

.bicycle {
    text-align: center;
}
.bicycle p {
    margin-top: 10px;
}

footer {
    margin-top: 108px;
    text-align: center;
}

/* モバイル用　
------------------------------ */
@media (max-width: 600px) {
    .bicycle ul {
        display: block;
    }

    .logo {
        margin-left: 10px;
    }
    .main-nav {
        margin-right: 15px;
    }
    .profile {
        display: block;
    }
    .profileimg{
        display: block;
        margin: auto;
        }
    .text {
        padding: 10px;
    }
    .bicycle img {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        margin-bottom: 7px;
    }
    .bicycle p {
        margin: 5px 0 28px 0;
    }
}